
.card {
    border-radius: var(--distance-25) !important;
    max-width: var(--distance-300) !important;
    padding: var(--distance-12-5) !important;
    gap: var(--distance-12-5);
    background-color: var(--color-secondary-background) !important;
}

.card-img-top {
    height: var(--distance-150) !important;
    border-radius: var(--distance-12-5) !important;
    object-fit: cover;
    object-position: center;
}


.card {
    --gradient-x: 0;
    --gradient-y: 0;
    --gradient-opacity: .25;

    overflow: hidden;
    z-index: 1;

    transition: transfrom linear .1s !important;
}

.card:hover {
    --gradient-opacity: 1;
}

.card::before {
    content: '';
    position: absolute;
    left: calc(var(--gradient-x) * 1px);
    top: calc(var(--gradient-y) * 1px);
    height: 100%;
    filter: blur(80px);
    aspect-ratio: 1/1;
    background-image: radial-gradient(circle, hsla(243, 100%, 69%, calc(0.761 * var(--gradient-opacity))) 0%, hsla(243, 100%, 69%, calc(0.502 * var(--gradient-opacity))) 50%, rgba(8,8,113,0) 72%, rgba(0,0,0,0) 100%);
    /* transform: rotateY(6deg) rotateX(6deg); */
    z-index: -1;
    transform: translate(-50%, -50%);
    
    transition: .25s !important;
}