
.card {
    border-radius: var(--distance-25) !important;
    max-width: var(--distance-300) !important;
    padding: var(--distance-12-5) !important;
    gap: var(--distance-12-5);
    background-color: var(--color-secondary-background) !important;
}

.card-img-top {
    height: var(--distance-150) !important;
    border-radius: var(--distance-12-5) !important;
    object-fit: cover;
    object-position: center;
}

