
.header-text-container > * {
    padding: 0 !important;
}

.header-text-container {
    display: flex;
    flex-direction: column;
    gap: var(--distance-6-25);
    padding: 0 !important;
    padding-bottom: var(--distance-25) !important;
}

@media (min-width: 768px) {
    .header-text-container {
        padding: 0 !important;
        padding-right: var(--distance-6-25) !important;
    }
}

.container-fluid {
    display: flex;
    justify-content: center !important;
}

.row {
    margin-inline: max(auto, var(--distance-12-5)) !important;
    max-width: var(--distance-737-5) !important;
}

img {
    max-width: var(--distance-300);
}

.quote {
    margin: 0 !important;
    /* max-width: var(--distance-325); */
}

.quote .author {
    text-align: right;
}