
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {

    --distance-base: 1px;
    --distance-6-25: calc(6.25 * var(--distance-base));
    --distance-12-5: calc(12.5 * var(--distance-base));
    --distance-18-75: calc(18.75 * var(--distance-base));
    --distance-25: calc(25 * var(--distance-base));
    --distance-31-25: calc(31.25 * var(--distance-base));
    --distance-37-5: calc(37.5 * var(--distance-base));
    --distance-43-75: calc(43.75 * var(--distance-base));
    --distance-50: calc(50 * var(--distance-base));
    --distance-56-25: calc(56.25 * var(--distance-base));
    --distance-62-5: calc(62.5 * var(--distance-base));
    --distance-68-75: calc(68.75 * var(--distance-base));
    --distance-75: calc(75 * var(--distance-base));
    --distance-81-25: calc(81.25 * var(--distance-base));
    --distance-87-5: calc(87.5 * var(--distance-base));
    --distance-93-75: calc(93.75 * var(--distance-base));
    --distance-100: calc(100 * var(--distance-base));
    --distance-106-25: calc(106.25 * var(--distance-base));
    --distance-112-5: calc(112.5 * var(--distance-base));
    --distance-118-75: calc(118.75 * var(--distance-base));
    --distance-125: calc(125 * var(--distance-base));
    --distance-131-25: calc(131.25 * var(--distance-base));
    --distance-137-5: calc(137.5 * var(--distance-base));
    --distance-143-75: calc(143.75 * var(--distance-base));
    --distance-150: calc(150 * var(--distance-base));
    --distance-156-25: calc(156.25 * var(--distance-base));
    --distance-162-5: calc(162.5 * var(--distance-base));
    --distance-168-75: calc(168.75 * var(--distance-base));
    --distance-175: calc(175 * var(--distance-base));
    --distance-181-25: calc(181.25 * var(--distance-base));
    --distance-187-5: calc(187.5 * var(--distance-base));
    --distance-193-75: calc(193.75 * var(--distance-base));
    --distance-200: calc(200 * var(--distance-base));
    --distance-206-25: calc(206.25 * var(--distance-base));
    --distance-212-5: calc(212.5 * var(--distance-base));
    --distance-218-75: calc(218.75 * var(--distance-base));
    --distance-225: calc(225 * var(--distance-base));
    --distance-231-25: calc(231.25 * var(--distance-base));
    --distance-237-5: calc(237.5 * var(--distance-base));
    --distance-243-75: calc(243.75 * var(--distance-base));
    --distance-250: calc(250 * var(--distance-base));
    --distance-256-25: calc(256.25 * var(--distance-base));
    --distance-262-5: calc(262.5 * var(--distance-base));
    --distance-268-75: calc(268.75 * var(--distance-base));
    --distance-275: calc(275 * var(--distance-base));
    --distance-281-25: calc(281.25 * var(--distance-base));
    --distance-287-5: calc(287.5 * var(--distance-base));
    --distance-293-75: calc(293.75 * var(--distance-base));
    --distance-300: calc(300 * var(--distance-base));
    --distance-306-25: calc(306.25 * var(--distance-base));
    --distance-312-5: calc(312.5 * var(--distance-base));
    --distance-318-75: calc(318.75 * var(--distance-base));
    --distance-325: calc(325 * var(--distance-base));
    --distance-331-25: calc(331.25 * var(--distance-base));
    --distance-337-5: calc(337.5 * var(--distance-base));
    --distance-343-75: calc(343.75 * var(--distance-base));
    --distance-350: calc(350 * var(--distance-base));
    --distance-356-25: calc(356.25 * var(--distance-base));
    --distance-362-5: calc(362.5 * var(--distance-base));
    --distance-368-75: calc(368.75 * var(--distance-base));
    --distance-375: calc(375 * var(--distance-base));
    --distance-381-25: calc(381.25 * var(--distance-base));
    --distance-387-5: calc(387.5 * var(--distance-base));
    --distance-393-75: calc(393.75 * var(--distance-base));
    --distance-400: calc(400 * var(--distance-base));
    --distance-406-25: calc(406.25 * var(--distance-base));
    --distance-412-5: calc(412.5 * var(--distance-base));
    --distance-418-75: calc(418.75 * var(--distance-base));
    --distance-425: calc(425 * var(--distance-base));
    --distance-431-25: calc(431.25 * var(--distance-base));
    --distance-437-5: calc(437.5 * var(--distance-base));
    --distance-443-75: calc(443.75 * var(--distance-base));
    --distance-450: calc(450 * var(--distance-base));
    --distance-456-25: calc(456.25 * var(--distance-base));
    --distance-462-5: calc(462.5 * var(--distance-base));
    --distance-468-75: calc(468.75 * var(--distance-base));
    --distance-475: calc(475 * var(--distance-base));
    --distance-481-25: calc(481.25 * var(--distance-base));
    --distance-487-5: calc(487.5 * var(--distance-base));
    --distance-493-75: calc(493.75 * var(--distance-base));
    --distance-500: calc(500 * var(--distance-base));
    --distance-506-25: calc(506.25 * var(--distance-base));
    --distance-512-5: calc(512.5 * var(--distance-base));
    --distance-518-75: calc(518.75 * var(--distance-base));
    --distance-525: calc(525 * var(--distance-base));
    --distance-531-25: calc(531.25 * var(--distance-base));
    --distance-537-5: calc(537.5 * var(--distance-base));
    --distance-543-75: calc(543.75 * var(--distance-base));
    --distance-550: calc(550 * var(--distance-base));
    --distance-556-25: calc(556.25 * var(--distance-base));
    --distance-562-5: calc(562.5 * var(--distance-base));
    --distance-568-75: calc(568.75 * var(--distance-base));
    --distance-575: calc(575 * var(--distance-base));
    --distance-581-25: calc(581.25 * var(--distance-base));
    --distance-587-5: calc(587.5 * var(--distance-base));
    --distance-593-75: calc(593.75 * var(--distance-base));
    --distance-600: calc(600 * var(--distance-base));
    --distance-606-25: calc(606.25 * var(--distance-base));
    --distance-612-5: calc(612.5 * var(--distance-base));
    --distance-618-75: calc(618.75 * var(--distance-base));
    --distance-625: calc(625 * var(--distance-base));
    --distance-631-25: calc(631.25 * var(--distance-base));
    --distance-637-5: calc(637.5 * var(--distance-base));
    --distance-643-75: calc(643.75 * var(--distance-base));
    --distance-650: calc(650 * var(--distance-base));
    --distance-656-25: calc(656.25 * var(--distance-base));
    --distance-662-5: calc(662.5 * var(--distance-base));
    --distance-668-75: calc(668.75 * var(--distance-base));
    --distance-675: calc(675 * var(--distance-base));
    --distance-681-25: calc(681.25 * var(--distance-base));
    --distance-687-5: calc(687.5 * var(--distance-base));
    --distance-693-75: calc(693.75 * var(--distance-base));
    --distance-700: calc(700 * var(--distance-base));
    --distance-706-25: calc(706.25 * var(--distance-base));
    --distance-712-5: calc(712.5 * var(--distance-base));
    --distance-718-75: calc(718.75 * var(--distance-base));
    --distance-725: calc(725 * var(--distance-base));
    --distance-731-25: calc(731.25 * var(--distance-base));
    --distance-737-5: calc(737.5 * var(--distance-base));
    --distance-743-75: calc(743.75 * var(--distance-base));
    --distance-750: calc(750 * var(--distance-base));
    --distance-756-25: calc(756.25 * var(--distance-base));
    --distance-762-5: calc(762.5 * var(--distance-base));
    --distance-768-75: calc(768.75 * var(--distance-base));
    --distance-775: calc(775 * var(--distance-base));
    --distance-781-25: calc(781.25 * var(--distance-base));
    --distance-787-5: calc(787.5 * var(--distance-base));
    --distance-793-75: calc(793.75 * var(--distance-base));
    --distance-800: calc(800 * var(--distance-base));
    --distance-806-25: calc(806.25 * var(--distance-base));
    --distance-812-5: calc(812.5 * var(--distance-base));
    --distance-818-75: calc(818.75 * var(--distance-base));
    --distance-825: calc(825 * var(--distance-base));
    --distance-831-25: calc(831.25 * var(--distance-base));
    --distance-837-5: calc(837.5 * var(--distance-base));
    --distance-843-75: calc(843.75 * var(--distance-base));
    --distance-850: calc(850 * var(--distance-base));
    --distance-856-25: calc(856.25 * var(--distance-base));
    --distance-862-5: calc(862.5 * var(--distance-base));
    --distance-868-75: calc(868.75 * var(--distance-base));
    --distance-875: calc(875 * var(--distance-base));
    --distance-881-25: calc(881.25 * var(--distance-base));
    --distance-887-5: calc(887.5 * var(--distance-base));
    --distance-893-75: calc(893.75 * var(--distance-base));
    --distance-900: calc(900 * var(--distance-base));
    --distance-906-25: calc(906.25 * var(--distance-base));
    --distance-912-5: calc(912.5 * var(--distance-base));
    --distance-918-75: calc(918.75 * var(--distance-base));
    --distance-925: calc(925 * var(--distance-base));
    --distance-931-25: calc(931.25 * var(--distance-base));
    --distance-937-5: calc(937.5 * var(--distance-base));
    --distance-943-75: calc(943.75 * var(--distance-base));
    --distance-950: calc(950 * var(--distance-base));
    --distance-956-25: calc(956.25 * var(--distance-base));
    --distance-962-5: calc(962.5 * var(--distance-base));
    --distance-968-75: calc(968.75 * var(--distance-base));
    --distance-975: calc(975 * var(--distance-base));
    --distance-981-25: calc(981.25 * var(--distance-base));
    --distance-987-5: calc(987.5 * var(--distance-base));
    --distance-993-75: calc(993.75 * var(--distance-base));
    --distance-1000: calc(1000 * var(--distance-base));
    
    --color-primary: hsl(0, 0%, 100%);
    --color-secondary: hsl(0, 0%, 58%);
    --color-accent: hsl(237, 50%, 56%);
    --color-background: hsl(0, 0%, 2%);
    --color-secondary-background: hsl(0, 0%, 9%);
    --glass-border: rgba(255, 255, 255, 12.5%);
    
    --fs-base: 1px;
    --fs-10: calc(10 * var(--fs-base));
    --fs-11: calc(11 * var(--fs-base));
    --fs-12: calc(12 * var(--fs-base));
    --fs-16: calc(16 * var(--fs-base));
    --fs-20: calc(20 * var(--fs-base));
    --fs-26: calc(26 * var(--fs-base));
    --fs-36: calc(26 * var(--fs-base));
    --fs-32: calc(26 * var(--fs-base));
    --fs-48: calc(48 * var(--fs-base));
    --fs-128: calc(128 * var(--fs-base));
    --fs-256: calc(256 * var(--fs-base));
    
    --ff-title: 'Josefin Sans', sans-serif;
    --ff-normal: 'Inter', sans-serif;
}