/*
Minden ide jön, ami az oldalak egységes kinézetéhez kell. 
*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-background) !important;
    color: var(--color-primary) !important;
}

.title {
    color: var(--color-primary);
    font-family: var(--ff-title);
    font-weight: bold;
}

.logo-title {
    font-size: var(--fs-36);
    letter-spacing: -2px;
}

h1.title {
    font-size: var(--fs-48);
    font-weight: normal;
}

.c-navbar {
    padding: var(--distance-12-5) var(--distance-25);
    display: grid;
    justify-items: center;
    border-bottom: 1px solid var(--glass-border);
    backdrop-filter: blur(var(--distance-100));
}

.c-navbar > * {
    margin: 0 !important;
}

.c-navbar a {
    color: unset;
    text-decoration: none;
}

header {
    margin-top: var(--distance-50);   
}

main {
    margin-top: var(--distance-50);
    display: grid;
    gap: var(--distance-12-5);
}

header, main, footer {
    margin-top: var(--distance-50);
    padding-inline: var(--distance-12-5) !important;
}

@media (min-width: 768px) {
    header, main, footer {
        margin-top: var(--distance-100) !important;
    }
}


.card-body {
    margin: 0 !important;
    padding: 0 !important;
    display: grid;
    grid-template-columns: var(--distance-50) 1fr;
    align-items: center;
    gap: var(--distance-6-25);
}

.card-body > img {
    width: var(--distance-50);
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 100%;
}

.detail-wrapper {
    display: grid;
    height: fit-content;
}

.detail-wrapper * {
    display: inline-block;
    font-size: var(--fs-16) !important;
    margin: 0 !important;
    padding: 0 !important;
    vertical-align: middle;
}

.detail-wrapper > p {
    color: var(--color-secondary) !important;
    text-transform: capitalize;
    font-weight: 600;
    font-family: var(--ff-normal);
    font-size: var(--fs-16) !important;
}

.detail-wrapper > *:is(a, p.highlight) {
    color: var(--color-primary) !important;
    text-decoration: none;
    font-weight: bold;
    font-family: var(--ff-title);
    font-size: var(--fs-16) !important;
}

.hidden,
body > * {
    translate: 0 -50%;
    opacity: 0%;
    transition: .5s;
}

.onScreen {
    translate: unset;
    opacity: 1 !important;
}