footer {
    padding: var(--distance-25) !important;
    border-top: 1px solid var(--glass-border);
    backdrop-filter: blur( var(--distance-750));
}

footer .container-fluid {
    display: flex;
    justify-content: center !important;
}

footer .row {
    justify-content: center;
    width: 100%;
    gap: var(--distance-25);
    max-width: 100% !important;
}

footer ul {
    margin: 0 !important;
}

footer .row > * {
    padding-inline: 0 !important;
    padding-block: var(--distance-12-5);
    width: min(100%, var(--distance-250));
    display: flex;
    flex-direction: column;
    gap: var(--distance-6-25);
    padding-top: 0 !important;
}

@media (min-width: 1075px) {
    footer .row > *:not(:last-child) {
        border-bottom: none;
        border-right: 1px solid var(--glass-border);
    }
}

footer h2 {
    font-weight: 600;
    font-size: var(--fs-36) !important;
}

footer h3 {
    font-family: var(--ff-normal) !important;
    font-size: var(--fs-20);
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer *:is(h2, h3, h4, p, a) {
    margin: 0 !important;
    padding: 0 !important;
    /* text-decoration: 1px dashed var(--color-accent); */
    color: var(--color-primary);
}
footer h4 {
    font-family: var(--ff-normal) !important;
    font-size: var(--fs-16);
    margin-top: var(--distance-12-5) !important;
}